/* VARIABLES */
/* ROOT */
:root {
  --main-font-family: Open Sans, Arial, sans-serif;
  --main-font-weight: 400;
  --main-body-bg-color: #fdfbf8;
  --main-text-color: #07484a;
}

/* MIXINS */ /* FONTS */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/open-sans-v34-latin-600.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/open-sans-v34-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/playfair-display-v30-latin-regular.woff2") format("woff2"), url("../fonts/playfair-display-v30-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/playfair-display-v30-latin-700.woff2") format("woff2"), url("../fonts/playfair-display-v30-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff");
}
/* Document
========================================================================== */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input { /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  background-color: var(--main-body-bg-color);
  overflow-x: hidden;
}

.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1699px;
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}
/* HEADER START */
.herp-Wrapper {
  background-image: url("../../images/heroBg-l.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.site-header {
  position: relative;
  padding: 26px 0;
}

.site-heade__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: inline-block;
  margin-right: 36.58px;
  margin-left: 36.58px;
}

.logo--tablet {
  display: none;
}

.logo__img {
  width: 104px;
  height: 26px;
}

.site-heade__burger {
  display: inline-block;
  width: 24px;
  height: 18.67px;
  background-color: transparent;
  border: none;
  background-image: url("../../images/hamburg-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.site-header__navobx {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 29px;
  padding-bottom: 113px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fff;
  -webkit-animation-name: slidedown;
          animation-name: slidedown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.site-header__navobx.active {
  display: block;
}

@-webkit-keyframes slidedown {
  from {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slidedown {
  from {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.site-header__burgerclose {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  background-image: url("../../images/close-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.site-header__nav {
  margin-top: 20px;
}

.site-header__navlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-header__navitem:not(:last-child) {
  margin-bottom: 16px;
}

.site-header__navlink {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #000;
  text-decoration: none;
}

.site-header__buttonslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-header__buttonsitem:not(:last-child) {
  margin-right: 12px;
}

.site-header__searchbtn {
  display: inline-block;
  width: 21.55px;
  height: 21.54px;
  background-image: url("../../images/searchWhite-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.site-header__orderbtn {
  display: inline-block;
  width: 21.55px;
  height: 21.54px;
  background-image: url("../../images/korzinaWhite-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.site-header__userbtn {
  display: inline-block;
  width: 20.75px;
  height: 20.75px;
  background-image: url("../../images/user-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 36.58px;
    margin-left: 0;
  }
  .logo--tablet {
    display: inline-block;
  }
  .logo__img {
    width: 144px;
    height: 36px;
  }
  .site-heade__burger {
    display: inline-block;
    width: 31px;
    height: 24.11px;
  }
  .site-header__burgerclose {
    display: block;
    margin: 0 auto;
  }
  .logo--mobile {
    display: none;
  }
  .site-header__navobx {
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .site-header__nav {
    margin-top: 150px;
  }
  .site-header__navitem:not(:last-child) {
    margin-bottom: 24px;
  }
  .site-header__navlink {
    font-size: 47px;
    line-height: 64px;
  }
  .site-header__buttonsitem:not(:last-child) {
    margin-right: 58px;
  }
  .site-header__searchbtn {
    display: inline-block;
    width: 27px;
    height: 26.99px;
  }
  .site-header__orderbtn {
    width: 27px;
    height: 27px;
  }
  .site-header__userbtn {
    width: 26px;
    height: 26px;
  }
}
@media only screen and (min-width: 992px) {
  .site-header__navobx {
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 70px;
  }
  .site-header__nav {
    margin-top: 105px;
  }
  .site-header__navlink {
    font-size: 60px;
    line-height: 82px;
  }
}
@media only screen and (min-width: 1200px) {
  .herp-Wrapper {
    background-image: url("../../images/heroBg-d.png");
  }
}
@media only screen and (min-width: 1200px) {
  .site-heade__burger {
    display: none;
  }
  .site-header__navobx {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    -webkit-animation-name: slidedown;
            animation-name: slidedown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  .site-header__navobx.active {
    display: block;
  }
  @-webkit-keyframes slidedown {}
  @keyframes slidedown {}
  .site-header__burgerclose {
    display: none;
  }
  .site-header__nav {
    margin-top: 0;
  }
  .site-header__navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-header__navitem:not(:last-child) {
    margin-bottom: 0;
    margin-right: 47px;
  }
  .site-header__navlink {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 132.9%;
    /* identical to box height, or 27px */
    letter-spacing: 0.05em;
    color: #fff;
  }
  .site-header__navlink.active {
    font-weight: 700;
    border-bottom: 3px solid #fff;
  }
}
/* HEADER END */
.hero {
  padding-top: 128px;
  padding-bottom: 206px;
}

.hero__titlebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 539px;
  width: 100%;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  color: var(--main-text-color);
}

.hero__desc {
  margin-top: 0;
  margin-bottom: 52px;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: var(--main-text-color);
}

.hero__link {
  display: inline-block;
  max-width: 171px;
  width: 100%;
  padding: 16px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #fdfbf8;
  text-align: center;
  text-decoration: none;
  background-color: #70908b;
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  .hero {
    padding-top: 88.47px;
    padding-bottom: 176.47px;
  }
  .hero__titlebox {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero__title {
    font-size: 48px;
    line-height: 62px;
    text-align: start;
  }
  .hero__desc {
    font-size: 24px;
    line-height: 33px;
    text-align: start;
  }
  .hero__link {
    display: inline-block;
    max-width: 230px;
    padding: 23.5px;
    font-size: 24px;
    line-height: 33px;
  }
}
@media only screen and (min-width: 1636px) {
  .hero {
    padding-top: 245.97px;
    padding-bottom: 353.97px;
  }
  .hero__titlebox {
    max-width: 668px;
  }
  .hero__title {
    margin-bottom: 54px;
    font-size: 64px;
    line-height: 85px;
  }
  .hero__desc {
    margin-bottom: 54px;
  }
}
.explore {
  padding: 80px 0px 4px 0px;
}

.explore-wrapper__title {
  margin: 0px 0px 23px 0px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #07484a;
}

.explore-wrapper__search {
  display: block;
  width: 288px;
  margin: 0px auto 11px auto;
  padding: 16px 0px 16px 58px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #6e757e;
  background: #f0f0f0;
  border-radius: 10px;
  border: transparent;
  background-image: url("/../images/search-icon.svg");
  background-position: calc(50% - 113px) calc(50% + 0px);
  background-size: 20px;
  background-repeat: no-repeat;
}

.explore-wrapper__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 540px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0px auto 60px auto;
}

.explore-wrapper__item {
  margin: 0px 4px 6px 0px;
}

.explore-wrapper__item--active {
  display: none;
}

.explore-wrapper__link {
  display: inline-block;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  background-color: #f5f5f5;
  border-radius: 84px;
  text-decoration: none;
}

.explore-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.explore-list__item {
  position: relative;
  width: 288px;
  height: 233px;
  margin: 0 auto;
}
.explore-list__item::before {
  position: absolute;
  left: 45px;
  top: 51px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: #fdfbf8;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  content: "Bedroom";
}
.explore-list__item:after {
  position: absolute;
  left: 66px;
  bottom: 52px;
  padding: 14px 43px;
  font-size: 18px;
  line-height: 25px;
  color: #07484a;
  background-color: #e0eff6;
  border-radius: 6px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  content: "Explore";
}
.explore-list__item:hover::before {
  opacity: 1;
}
.explore-list__item:hover::after {
  opacity: 1;
}
.explore-list__item:not(:last-child) {
  margin-bottom: 12px;
}

.explore-list__img {
  display: inline-block;
  width: 288px;
  height: 233px;
}

.explore-wrapper__all {
  display: none;
}

.explore-wrapper__item--activ {
  display: none;
}

@media only screen and (min-width: 768px) {
  .explore {
    padding: 100px 0px 310px 0px;
  }
  .explore-wrapper__title {
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
  }
  .explore-wrapper__search {
    width: 463px;
    margin-bottom: 36px;
    padding: 29px 0px 29px 58px;
    font-size: 20px;
    line-height: 23px;
    background-position: calc(50% - 200px) calc(50% + 0px);
  }
  .explore-wrapper__list {
    max-width: 718px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .explore-wrapper__item {
    margin: 0px 46px 51px 0px;
    border-bottom: 3px solid transparent;
  }
  .explore-wrapper__item:hover {
    border-bottom: 3px solid #07484a;
    content: "";
  }
  .explore-wrapper__item:nth-child(4) {
    display: none;
    margin-right: 0px;
  }
  .explore-wrapper__item:nth-child(5) {
    margin-right: 0px;
  }
  .explore-wrapper__item:nth-child(8) {
    margin-right: 0px;
  }
  .explore-wrapper__item--active {
    display: block;
  }
  .explore-wrapper__link {
    padding: 0px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #07484a;
    background-color: transparent;
  }
  .explore-wrapper__all {
    display: block;
    width: 265px;
    margin: 0 auto 99px auto;
    padding: 32px 88px 32px 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    background-color: #70908b;
    border-radius: 10px;
    text-decoration: none;
    background-image: url("/../images/arrow-icon.svg");
    background-repeat: no-repeat;
    background-size: 20px 13px;
    background-position: calc(50% + 73px) calc(50% + 0px);
  }
  .explore-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 728px;
    margin: 0 auto;
  }
  .explore-list__item {
    width: 348px;
    height: 242px;
    margin: 0px;
  }
  .explore-list__item:not(:last-child) {
    margin-bottom: 26px;
  }
  .explore-list__item:nth-child(5) {
    margin-bottom: 0px;
  }
  .explore-list__img {
    width: 348px;
    height: 242px;
  }
}
@media only screen and (min-width: 1024px) {
  .explore {
    padding: 100px 0px 204px 0px;
  }
  .explore-list {
    width: 956px;
  }
  .explore-list__item {
    width: 462px;
    height: 277px;
    margin: 0px;
  }
  .explore-list__item:not(:last-child) {
    margin-bottom: 26px;
  }
  .explore-list__item:nth-child(5) {
    margin-bottom: 0px;
  }
  .explore-list__img {
    width: 462px;
    height: 277px;
  }
}
@media only screen and (min-width: 1200px) {
  .explore {
    padding: 267px 0px 204px 0px;
  }
  .explore-wrapper__box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .explore-wrapper__search {
    position: absolute;
    width: 349px;
  }
  .explore-wrapper__list {
    display: block;
    width: auto;
    margin-top: 165px;
    height: 570px;
    overflow-y: scroll;
    margin-right: 78px;
    padding-right: 142px;
    margin-bottom: 80px;
  }
  .explore-wrapper__list::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  .explore-wrapper__list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  .explore-wrapper__list::-webkit-scrollbar-thumb {
    border: 5px solid #70908B;
  }
  /* Handle on hover */
  .explore-wrapper__list::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .explore-list__item::before {
    left: 135px;
  }
  .explore-list__item::after {
    left: 155px;
  }
  .explore-wrapper__all {
    position: absolute;
    margin: 0px;
    bottom: 0px;
  }
  .explore-wrapper__item--activ {
    display: block;
  }
}
.benefits {
  padding: 80px 0px;
  background-color: #e0eff6;
}

.benefits-wrapper__title {
  margin: 0px 0px 244px 0px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #07484a;
}

.benefits-wrapper__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.benefits-wrapper__item {
  position: relative;
  width: 288px;
  margin: 0 auto;
}
.benefits-wrapper__item:not(:last-child) {
  margin-bottom: 199px;
}
.benefits-wrapper__item::before {
  position: absolute;
  top: -140px;
  left: 90px;
  width: 108px;
  height: 108px;
  background-image: url("/../images/payment.svg");
  content: "";
}
.benefits-wrapper__item:nth-child(2)::before {
  background-image: url("../../images/return.svg");
}
.benefits-wrapper__item:nth-child(3)::before {
  background-image: url("../../images/customer.svg");
}

.benefits-wrapper__subtitle {
  margin: 0px 0px 32px 0px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #07484a;
}

.benefits-wrapper__text {
  margin: 0px;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #07484a;
}

@media only screen and (min-width: 768px) {
  .benefits {
    padding: 100px 0px;
  }
  .benefits-wrapper__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
  }
  .benefits-wrapper__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 728px;
    margin: 0 auto;
  }
  .benefits-wrapper__item::before {
    top: -130px;
    left: 70px;
  }
  .benefits-wrapper__item:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1024px) {
  .benefits-wrapper__list {
    width: 944px;
  }
  .benefits-wrapper__item::before {
    left: 86px;
  }
}
@media only screen and (min-width: 1300px) {
  .benefits-wrapper__title {
    font-size: 64px;
    line-height: 85px;
  }
  .benefits-wrapper__list {
    width: 1220px;
  }
  .benefits-wrapper__subtitle {
    font-size: 36px;
    line-height: 48px;
  }
  .benefits-wrapper__text {
    font-size: 24px;
    line-height: 33px;
  }
}
/* FOOTER START */
.login-modal {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.login-modal.active {
  display: block;
}

.login-modal__form {
  max-width: 966px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: #fff;
  border-radius: 40px;
  -webkit-animation-name: login-modal-animation;
          animation-name: login-modal-animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
          transform: translateY(25%);
}

@-webkit-keyframes login-modal-animation {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
}

@keyframes login-modal-animation {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
}
.login-modal__topbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.login-modal__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #000;
}

.login-modal__closebtn {
  display: inline-block;
  width: 54px;
  height: 54px;
  background-color: #f5f5f5;
  border-radius: 40px;
  background-image: url("../../images/close-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.login-modal__input {
  display: block;
  width: 100%;
  padding-left: 128px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000;
  margin-bottom: 35px;
  padding-top: 38px;
  padding-bottom: 39px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border: 4px solid transparent;
  background-image: url("../../images/userpassword-icon.svg");
  background-repeat: no-repeat;
  background-position: calc(0% + 68px) calc(50% - 0px);
}
.login-modal__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}
.login-modal__input::-moz-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}
.login-modal__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}
.login-modal__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}
.login-modal__input::placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}
.login-modal__input.login-modal__input--username {
  background-image: url("../../images/userlogin-icon.svg");
}
.login-modal__input:not(:-moz-placeholder-shown):not(:focus):invalid {
  border: 4px solid red;
}
.login-modal__input:not(:-ms-input-placeholder):not(:focus):invalid {
  border: 4px solid red;
}
.login-modal__input:not(:placeholder-shown):not(:focus):invalid {
  border: 4px solid red;
}
.login-modal__input:not(:-moz-placeholder-shown):not(:focus):invalid ~ .login-modal__invalid {
  display: inline-block;
}
.login-modal__input:not(:-ms-input-placeholder):not(:focus):invalid ~ .login-modal__invalid {
  display: inline-block;
}
.login-modal__input:not(:placeholder-shown):not(:focus):invalid ~ .login-modal__invalid {
  display: inline-block;
}

.login-modal__button {
  display: block;
  width: 100%;
  padding: 20px 41px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  background-color: #70908b;
  border-radius: 30px;
  color: #fff;
  border: none;
}

.login-modal__label {
  position: relative;
}

.login-modal__invalid {
  display: none;
  position: absolute;
  font-weight: 700;
  left: 10px;
  bottom: -23px;
  color: red;
}/*# sourceMappingURL=main.css.map */