// CONTAINER 
.container{
    width: 100%;
    max-width: 1699px;
    margin: 0 auto;
    padding: 0 16px;
}

@include mobile-first(768px){
    .container{
        padding: 0 20px;
    }
}
@include mobile-first(1024px){
    .container{
        padding: 0 40px;
    }
}